$primary-color: blue;
@import "node_modules/loaders.css/src/animations/ball-scale-ripple.scss";

.loader-hidden 
    display: none

.loader-active 
    display: block


.modal_book
    // &_info
    //     float: right
    
    // &_author
    //     vertical-align: middle
