$primary-color: #66d9e8;
@import "node_modules/loaders.css/src/animations/ball-scale-multiple.scss";

.loader-hidden 
    display: none

.loader-active 
    display: block
    

.modal-body
    height : 33rem

.modal_book
    &_in
        margin-left: 150px
        
    &_cover
        float: left
        height: 160px
        width: fit-content
        
    &_info
        display: inline
    &_submit
        float: right
    &_delete
        float: right    
    &_book-description
        float: left  
        margin-top: 20px    
    &_select
        float: left          


.modal_close
    float: right

i
    margin-right: 4px
    font-size: 20px    


.books
    &_wrap
        display: flex
        align-items: center
    &_not_wrap
        display: grid
        align-items: center
        justify-items: right
        grid-template-columns: repeat(4,minmax(min-content,1fr)) 

.book_cover
    position: relative
    &:after
        z-index : -1
    &:hover
        transform: translateY(-0.5rem) scale(1.2)
        box-shadow: 0 1.5rem 4rem rgba(black, 0.4)
        z-index: 10

.books
    margin-top: 10em
    display: grid
    margin-right: -90px
    margin-left: 50px
    &_not_stacked
        margin-top:-100px !important

.profile
    position: fixed

.no-books
    margin-top:130px !important
    grid-column: 1/span 2
    text-align: center

.modal-backdrop
    background-color: rgba(240, 239, 239, 0.9)

svg
    animation: fa-spin 2s infinite linear !important
    color:#22b8cf

.icon-bar 
    width: 50px
    position: fixed
    left : 0px
    top : 150px
    background-color :#f4f6f9

.icon-bar a 
    display: block
    text-align: center
    padding: 16px
    transition: all 0.3s ease
    font-size: 20px

.dropdown-menu
    position: absolute
    will-change: transform
    top: 0px
    left: -50px
    transform: translate3d(112px, 0px, 0px) 
    z-index: 1000
    float: left
    min-width: 10rem
    padding: .5rem 0
    margin: .125rem 0 0
    font-size: 2rem
    color: #212529
    text-align: left
    list-style: none
    background-color: #fff
    background-clip: padding-box
    border: 1px solid rgba(0,0,0,.15)
    border-radius: .75rem
    .show
        display: contents !important  
        
.dropdown-item 
    display: block
    width: 100%
    padding: .25rem 1.5rem
    clear: both
    font-weight: 400
    color: #212529
    text-align: inherit
    white-space: nowrap
    background-color: transparent
    border: 0      
   
.caret
    display: none

#dropdown-button-drop-right
    animation: fa-spin 2s infinite linear !important
    color: #22b8cf
    border-color: #fff9f9  
    font-size: x-large 
    background-color : #f4f6f9
    padding : 0
    margin-left: 14px
    margin-bottom: 14px
    margin-top: 14px

.btn--logout  
    background-color: #f8f8f8 
    float: right 
    color: #777
    height: 50px
    padding: 15px 15px
    font-size: 18px
    line-height: 20px

.search_form
    justify-content: center
    text-align: center
    
    
.search_select
    background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 40%
    height: 40px
    overflow: hidden
    -webkit-appearance: none
    width: 240px
    -webkit-border-radius: 5px
    -moz-border-radius: 5px
    border-radius: 5px
    background-color: #22b8cf
    border: none
    font-size: 14px
    padding: 5px
    color: #fff !important

input
    height: 40px
    width: 20%
    padding: .375rem .75rem
    font-size: 2rem
    line-height: 1.5
    color: #495057
    background-color: #fff
    background-clip: padding-box
    border: 1px solid #ced4da
    border-radius: .75rem
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out 
    margin-bottom: 20px 

.books_stacked
    text-align: center
    margin-left: 200px 

.paginations
    text-align: center
    margin-top : 50px 

.title
    color: #22b8cf
    text-align: center 

label
    margin-left: 10px       

.save
    float: left    
