@keyframes ball-scale-multiple {
  0% {
    transform: scale(0);
    opacity: 0; }
  5% {
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 0; } }

.ball-scale-multiple {
  position: relative;
  transform: translateY(-150px); }
  .ball-scale-multiple > div:nth-child(2) {
    animation-delay: -0.4s; }
  .ball-scale-multiple > div:nth-child(3) {
    animation-delay: -0.2s; }
  .ball-scale-multiple > div {
    background-color: aquamarine;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 2px;
    animation-fill-mode: both;
    position: absolute;
    left: 30px;
    top: 120px;
    opacity: 0;
    margin: 0;
    width: 300px;
    height: 300px;
    animation: ball-scale-multiple 1s 0s linear infinite; }

.loader-hidden {
  display: none; }

.loader-active {
  display: block; }

.modal-body {
  height: 33rem; }

.modal_book_in {
  margin-left: 150px; }

.modal_book_cover {
  float: left;
  height: 160px;
  width: fit-content; }

.modal_book_info {
  display: inline; }

.modal_book_submit {
  float: right; }

.modal_book_delete {
  float: right; }

.modal_book_book-description {
  float: left;
  margin-top: 20px; }

.modal_book_select {
  float: left; }

.modal_close {
  float: right; }

i {
  margin-right: 4px;
  font-size: 20px; }

.books_wrap {
  display: flex;
  align-items: center; }

.book_cover {
  position: relative; }
  .book_cover:hover {
    transform: translateY(-0.5rem) scale(1.2);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    z-index: 10; }

.books {
  margin-top: 10em;
  display: grid;
  margin-right: -90px;
  margin-left: 50px; }
